<div>
    <!--************************** boostrap5 menu bar****************************************-->
    <!-- Sidebar/menu -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Litter Map</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    
                    <% if(signed_in == null){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/sign-in">Sign-in</a>
                        </li>
    
                        <!-- Register link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Creante New Account</a>
                        </li>
                        <% } else { %>
    
                            <!-- user profile page link -->
                         <li class="nav-item">
                            <a class="nav-link" href="/userprofile">User</a>
                        </li>
    
                        <!-- report Litter Menu Homepage link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/reportlittermenuhomepage">Report Litter</a>
                        </li>
    
    
                        <!-- pin to report page link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/pinToReportPage">Pin Report</a>
                        </li>
                        
                        <!-- Blog page link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog">Blog</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/sign-off">Sign-off</a>
                        </li>
                        
                        <% } %>


                    <% if (!signed_in) { %> 
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-in">Sign-in</a>
                    </li>

                    <!-- Register link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Creante New Account</a>
                    </li>
                    <% } else { %>

                        <!-- user profile page link -->
                     <li class="nav-item">
                        <a class="nav-link" href="/userprofile">User</a>
                    </li>

                    <!-- report Litter Menu Homepage link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/reportlittermenuhomepage">Report Litter</a>
                    </li>


                    <!-- pin to report page link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/pinToReportPage">Pin Report</a>
                    </li>
                    
                    <!-- Blog page link -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/sign-off">Sign-off</a>
                    </li>
                    
                    <% } %>
                </ul>
            </div>
        </div>
                        <!-- todo: display links appropriate to the user's signed_in status -->
                        <% if (signed_in) { %>
                            <div style="margin-right: 20px; border-radius: 100px; background-color: green; width: 10px; height: 10px;">
                                <!-- just a coloured dot to indicate sign in status -->
                            </div>
                        <% } else { %>
                            <div style="margin-right: 20px; border-radius: 100px; background-color: red; width: 10px; height: 10px;">
                                <!-- just a coloured dot to indicate sign in status -->
                            </div>
                        <% } %>
    </nav>
</div>
<!--**************************End Menu Bar****************************************-->