<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
      <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
      <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <style>

        body {
            margin: 0;
            padding: 0;
          }
          
        #map {
            position: absolute;
            top: 10%;
            left: 0;
            right: 10%;
            width: 100%;
            height: 100%;
          }

          
          
      </style>

</head>

<body>



  <div>
    <!--**************************menu bar****************************************-->
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
      <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">MENU</a> 
      <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">User</a> 
      <a href="#Blog" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Blog</a> 
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Contact</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">LITTER MAP</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <script>
      // Script to open and close sidebar

      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }
  
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script> 
  </div>
  <!--**************************End Menu Bar****************************************-->

    <div id="map"></div>
    <script>
        /*
        TODO: 
            - render a map - done 
            - add a marker to the map - done 
            - dynamically add markers to the map - postponed (can't do this since we don't have any server logic)
                - [instead] loop through a JS object which contains where the markers will go 
                - add the marker to the map 
            - allow the user to add a marker to the map on click of the button 
                - Giacomo: at the moment the user will manually type their coordinates, later we'll get the coordinates via where the user clicked the map - done
                - Patrick: add an html input field - done
                - Patrick: add a html button - done
                - when the user clicks button 
                - get the content of the input field 
                - update the markers array in the above JS object - in progress
        */

        mapboxgl.accessToken = 'pk.eyJ1IjoiYmgzMDAiLCJhIjoiY2xlaWpsZW91MDI0dDQxbnI4aWNueTVneiJ9.u0cO3o-dzacQpUpt2rxLtA';
        // - render a map - done

        const map = new mapboxgl.Map({
            container: 'map', // container ID
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/outdoors-v12', // style URL
            center: [11.255, 43.77], // starting position
            zoom: 13 // starting zoom

        });
        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());//add zoom controllers and rotation
        //*********************************  
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            // When active the map will receive updates to the device's location as it changes.
            trackUserLocation: true,
            // Draw an arrow next to the location dot to indicate which direction the device is heading.
            showUserHeading: true
        })
        );

        
        let markers = []
         map.on('click', e => {
            const coordinates = e.lngLat;
            markers.push(new mapboxgl.Marker({scale: 2 /* was hoping this reduced the "accidental marker add on marker click" */})
            // how secure is setHTML? 
                .setLngLat(coordinates).setPopup(new mapboxgl.Popup().setHTML(
                        '<h1>user content</h1>' +
                        '<button class="trigger">Report Litter</button>' +
                        '<button class="trigger">Upload Photo</button>' +
                        '<button class="trigger">Take Photo</button>' +
                        '<button class="trigger">Litter Removed</button>'
                    )
                )
                .addTo(map));
                markers.map(marker => marker.togglePopup())
        });
    </script>
  </body>
</html>