<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For the hamburger  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title><%= title %></title>


    </head>
    <body>

        <style>
            /* here we set the background colour */
                        body {
                            background-color: lightblue;
                        } 
                        
                         /* PD Register page flexbox container CSS  */
                        
                        .Heading{
                            text-align: center;
                        }
            
            /* The Hanburger Menu */
                                    
                        .topnav {
                        overflow: hidden;
                        background-color: #333;
                        position: relative;
                       
                        }
            
                        .topnav #myLinks {
                        display: none;
                        }
            
                        .topnav a {
                        color: rgb(25, 155, 147);
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                        display: block;
                        }
            
                        .topnav a.icon {
                        background: black;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        }
            
                        .topnav a:hover {
                        background-color: #ddd;
                        color: black;
                        }
            
                        .active {
                        background-color: #9ffdda;
                        color: white;
                        }



                        /* CSS for the report litter hamburger menu */

                       
                body {
                    background-color: lightblue;
                } 
                
                 /* PD Register page flexbox container CSS  */
                
                .Heading2{
                    text-align: center;
                }
    
    /* The Hanburger Menu */
                            
                .topnav2 {
                overflow: hidden;
                background-color: #333;
                position: relative;
                }
    
                .topnav2 #myLinks2 {
                display: none;
                }
    
                .topnav2 a {
                color: rgb(25, 155, 147);
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                display: block;
                }
    
                .topnav2 a.icon2 {
                background: black;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                }
    
                .topnav2 a:hover {
                background-color: #ddd;
                color: black;
                }
    
                .active2 {
                background-color: #9ffdda;
                color: white;
                }
            
            </style>
        

    
    <!-- HTML Code for the hanburger menu and links to the other pages -->
    <div class="Heading"><h1>"Report litter section</h1></div>
    
    
    <div class="topnav">
        <a href="/loggedInUserMainmenu" class="active">View other pages: click on hanburger</a>
        <div id="myLinks">
          <a href="/reportLitterMenuHomepage">Report Litter</a>
          <a href="/Blog">Blog</a>
          <a href="/userprofile">view your profile</a>
          <a href="/personalscore">View your personal score</a>
          <a href="/monthlyscore">View monthly participants scores</a>
        </div>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    
    
    
    <!-- Script that can be used and expanded if one wishes for the hamburger menu -->
      <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
        
                

<!-- HTML Code for hamburger menu for reporting litter -->

    <!-- HTML Code for the hanburger menu and links to the other pages -->
    <div class="Heading2"><h1>Report Litter</h1></div>
            
            
    <div class="topnav2">
        <a href="/loggedInUserMainmenu" class="active2">click hamburger on right for reporting litter</a>
        <div id="myLinks2">
          <a href="/#">click here to report litter</a>
          <a href="/#">Take photo</a>
          <a href="/#">Upload photo</a>
          <a href="/#">Litter removed</a>
          
        </div>
        
        <a href="javascript:void(0);" class="icon2" onclick="myFunction2()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    
    
    
    <!-- Script that can be used and expanded if one wishes for the hamburger menu -->
      <script>
        function myFunction2() {
          var x = document.getElementById("myLinks2");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>


        
    </body>






</body>

</html>