<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For the hamburger  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title><%= title %></title>
</head>

<style>

/* here we set the background colour */
body {
    background-color: lightblue;
} 

 /* PD Login page flexbox container CSS  */

.loginHeading{
    text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
  width: 300px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  line-height: 55px;
}

/*  end of PD Login page flexbox container CSS  */



/* hyperlink for non logged in accounts */

.loginHyperlink{
   text-align: center;
  }

  /* end of hyperlink for non logged in accounts */


</style>
  
 

<div class="loginHeading"><h1>Login</h1></div>



 <!-- PD Login page flex container HTML -->
    <div class="flex-container">

        <div>
    <form action="/sign-in" method="POST">
        <label id="loginUsernameLabel">Username</label>
        <input type="text" name="email" id="email" placeholder="your@email.domain">

        </div>

        <div>
            <label id="loginPasswordLabel">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <div>
        <button id="cancel">Cancel</button>  <button id="sign-in">Log in</button>
    </div>
    </form>
</div>

    </div>  <!-- end of PD Login page flex container HTML-->


    <div class="loginHyperlink">
    <p><a href="https://www.w3schools.com/">Register new account</a></p>
</div> 

</body>

</html>
